<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Albreanna</string>
	<string>Alysha</string>
	<string>Aelflaed</string>
	<string>Asha</string>
	<string>Aurelia</string>
	<string>Agravaine</string>
	<string>Ariadne</string>
	<string>Astrid</string>
	<string>Alastriona</string>
	<string>Aziza</string>
	<string>Beatrix</string>
	<string>Beorhtraed</string>
	<string>Berengaria</string>
	<string>Bianca</string>
	<string>Blaise</string>
	<string>Blaunche</string>
	<string>Brandy</string>
	<string>Branwyn</string>
	<string>Breannainn</string>
	<string>Bronwyn</string>
	<string>Caitlin</string>
	<string>Celine</string>
	<string>Caitriona</string>
	<string>Clarissa</string>
	<string>Cassandra</string>
	<string>Catarina</string>
	<string>Charissa</string>
	<string>Chloe</string>
	<string>Constance</string>
	<string>Cordelia</string>
	<string>Corinna</string>
	<string>Dairine</string>
	<string>Daniella</string>
	<string>Deirdre</string>
	<string>Dorian</string>
	<string>Dorothea</string>
	<string>Drusilla</string>
	<string>Dulcinea</string>
	<string>Druzhina</string>
	<string>Delmina</string>
	<string>Dolwynna</string>
	<string>Elspeth</string>
	<string>Elenfea</string>
	<string>Elinor</string>
	<string>Eirene</string>
	<string>Ekaterina</string>
	<string>Eleonora</string>
	<string>Emmaline</string>
	<string>Eowyn</string>
	<string>Etain</string>
	<string>Euthymia</string>
	<string>Faustina</string>
	<string>Fermina</string>
	<string>Felice</string>
	<string>Ferelith</string>
	<string>Fiachra</string>
	<string>Fiona</string>
	<string>Flavia</string>
	<string>Fortunata</string>
	<string>Freydis</string>
	<string>Freygard</string>
	<string>Francesca</string>
	<string>Genevieve</string>
	<string>Geyla</string>
	<string>Ghiselle</string>
	<string>Gwenlyn</string>
	<string>Gwennyth</string>
	<string>Gabriella</string>
	<string>Galiena</string>
	<string>Genevre</string>
	<string>Gisela</string>
	<string>Glynna</string>
	<string>Helena</string>
	<string>Hastini</string>
	<string>Heather</string>
	<string>Hilary</string>
	<string>Huette</string>
	<string>Henriette</string>
	<string>Helga</string>
	<string>Hedgia</string>
	<string>Halima</string>
	<string>Hallfridr</string>
	<string>Idonia</string>
	<string>Isabel</string>
	<string>Ischade</string>
	<string>Ishtara</string>
	<string>Igraine</string>
	<string>Ilsa</string>
	<string>Ilisabetta</string>
	<string>Ingrid</string>
	<string>Iris</string>
	<string>Isabeau</string>
	<string>Jade</string>
	<string>Javanna</string>
	<string>Jayme</string>
	<string>Jazelle</string>
	<string>Jessika</string>
	<string>Jevon</string>
	<string>Joella</string>
	<string>Joscelyn</string>
	<string>Joyesse</string>
	<string>Julianna</string>
	<string>Kassandra</string>
	<string>Kaelta</string>
	<string>Kathryn</string>
	<string>Kamilla</string>
	<string>Kallessa</string>
	<string>Karina</string>
	<string>Katherina</string>
	<string>Kate</string>
	<string>Katya</string>
	<string>Kendra</string>
	<string>LaMaia</string>
	<string>Layla</string>
	<string>Leah</string>
	<string>Lore</string>
	<string>Laeriel</string>
	<string>Larissa</string>
	<string>Leanna</string>
	<string>Lessa</string>
	<string>Lindyre</string>
	<string>Lorisse</string>
	<string>Madigan</string>
	<string>Megwynne</string>
	<string>Moira</string>
	<string>Morgaine</string>
	<string>Mairgret</string>
	<string>Malinda</string>
	<string>Marina</string>
	<string>Marishka</string>
	<string>Meghan</string>
	<string>Melaina</string>
	<string>Natalija</string>
	<string>Nerissa</string>
	<string>Nicolette</string>
	<string>Ninianne</string>
	<string>Novia</string>
	<string>Nynnivan</string>
	<string>Nisa</string>
	<string>Niobe</string>
	<string>Nissyen</string>
	<string>Nikki</string>
	<string>Octavia</string>
	<string>Oksana</string>
	<string>Olga</string>
	<string>Olivya</string>
	<string>Orianna</string>
	<string>Oreta</string>
	<string>Ophelia</string>
	<string>Odille</string>
	<string>Ona</string>
	<string>Onoria</string>
	<string>Patrice</string>
	<string>Penelope</string>
	<string>Pellinor</string>
	<string>Perrenelle</string>
	<string>Petrina</string>
	<string>Petronilla</string>
	<string>Pompeia</string>
	<string>Premaleela</string>
	<string>Priscilla</string>
	<string>Pia</string>
	<string>Quiauh</string>
	<string>Quirina</string>
	<string>Rachael</string>
	<string>Radegund</string>
	<string>Rabiah</string>
	<string>Rafaella</string>
	<string>Ramona</string>
	<string>Raine</string>
	<string>Raven</string>
	<string>Rosamond</string>
	<string>Rebekah</string>
	<string>Rowena</string>
	<string>Regina</string>
	<string>Rennata</string>
	<string>Rhiannon</string>
	<string>Rhonwen</string>
	<string>Rowazna</string>
	<string>Rianna</string>
	<string>Richenda</string>
	<string>Robyn</string>
	<string>Sabia</string>
	<string>Siobhan</string>
	<string>Shoshanna</string>
	<string>Sabine</string>
	<string>Salina</string>
	<string>Sapphira</string>
	<string>Sedalia</string>
	<string>Selena</string>
	<string>Shawna</string>
	<string>Signy</string>
	<string>Thora</string>
	<string>Teska</string>
	<string>Triaria</string>
	<string>Tabitha</string>
	<string>Tamara</string>
	<string>Tasha</string>
	<string>Tatiana</string>
	<string>Tara</string>
	<string>Theodora</string>
	<string>Thirza</string>
	<string>Ula</string>
	<string>Ursula</string>
	<string>Utsanna</string>
	<string>Valeria</string>
	<string>Valina</string>
	<string>Vanora</string>
	<string>Vashti</string>
	<string>Verena</string>
	<string>Veronika</string>
	<string>Vittoria</string>
	<string>Vivienne</string>
	<string>Warjna</string>
	<string>Wendolyn</string>
	<string>Wilhelmina</string>
	<string>Willow</string>
	<string>Winifred</string>
	<string>Xantha</string>
	<string>Xena</string>
	<string>Xenia</string>
	<string>Ximena</string>
	<string>Yelisveta</string>
	<string>Ygraine</string>
	<string>Ysabeau</string>
	<string>Zenobia</string>
	<string>Zoe</string>
	<string>Zuzana</string>
</array>
</plist>
