<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sam</string>
	<string>Chris</string>
	<string>Leslie</string>
	<string>Tracy</string>
	<string>Alex</string>
	<string>Dale</string>
	<string>Dana</string>
	<string>Drew</string>
	<string>Jean</string>
	<string>Jo</string>
	<string>Kris</string>
	<string>Lola</string>
	<string>Pat</string>
	<string>Robin</string>
	<string>Ronnie</string>
	<string>Ashley</string>
	<string>Gale</string>
	<string>Jody</string>
	<string>Jesse</string>
	<string>Morgan</string>
	<string>Frankie</string>
	<string>Jamie</string>
	<string>Ash</string>
	<string>Bo</string>
	<string>Britt</string>
	<string>Brinn</string>
	<string>Kay</string>
	<string>Kim</string>
	<string>Kit</string>
	<string>Lane</string>
	<string>Lonnie</string>
	<string>Tal</string>
	<string>Willow</string>
	<string>Dorian</string>
	<string>Marion</string>
	<string>Nymcha</string>
	<string>Adosi</string>
	<string>Rhis</string>
	<string>Sabami</string>
	<string>Dimu</string>
	<string>Mabu</string>
	<string>Linudormie</string>
	<string>Shale</string>
	<string>Chagi</string>
	<string>Gaelar</string>
	<string>Moiwa</string>
	<string>Nexe</string>
	<string>Kocada</string>
	<string>Eruki</string>
	<string>Karuwo</string>
	<string>Kodi</string>
	<string>Varsa</string>
	<string>Gurkaru</string>
	<string>Artardd</string>
	<string>Ember</string>
	<string>Althi</string>
	<string>Falowen</string>
	<string>Amion</string>
	<string>Alren</string>
	<string>Morraine</string>
	<string>Tulai</string>
	<string>Coria</string>
	<string>Seni</string>
	<string>Rowin</string>
	<string>Ragaru</string>
	<string>Ambic</string>
</array>
</plist>
