<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Thank you,
kindly!
</string>
	<string>Ambrosia,
ever heard
of it?
</string>
	<string>Dawn,
the city of
myths &amp; magic!
</string>
	<string>The conjunction
of the moons
finds link!
</string>
	<string>Nasty creatures,
  nasty  dark,
sure thee ready,
fore thee embark
</string>
	<string>None return or
 so I'm told,
from the pool,
dark and cold!
</string>
	<string>  Shrines of
  knowledge,
  shrines of
   strength,
 all are lost
into the brink!</string>
	<string> Fountains fair
       &amp;
 fountains foul
all are found in
 dungeons bowel
</string>
	<string>     EXODUS:
   Ultima III
 which is next?
Now could it be.
</string>
	<string>Seek ye out the
 Lord of Time,
and the one way
is a sure find!
</string>
</array>
</plist>
