<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>And so the sage
said unto thee
'If thou can
solve my rhyme,
</string>
	<string>you'll learn of
marks &amp; playing
cards &amp; hidden
holy shrines.
</string>
	<string>Of marks I say
there are but 4
of fire, force,
snake &amp; king.
</string>
	<string>Learn their use
in Devil Guard,
or death you'll
surely bring.
</string>
	<string>Shrines there
are again but 4
to which you
go and pray.
</string>
	<string>Their uses are
innumerable and
clues throughout
I say
</string>
	<string>The cards their
suits do number
4, called sol,
moon, death
and love.
</string>
	<string>Unto the Montors
thou must go
for guidance
from above.
</string>
	<string>To aid thee in
thy cryptic
search, to
dungeons thou
must fare.
</string>
	<string>There seek out
the Lord of Time
to help you
if he cares.'
</string>
</array>
</plist>
