<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>REPOND</string>
	<string>MITTAR</string>
	<string>LORUM</string>
	<string>DOR ACRON</string>
	<string>SUR ACRON</string>
	<string>FULGAR</string>
	<string>DAG ACRON</string>
	<string>MENTAR</string>
	<string>DAG LORUM</string>
	<string>FAL DIVI</string>
	<string>NOXUM</string>
	<string>DECORP</string>
	<string>ALTAIR</string>
	<string>DAG MENTAR</string>
	<string>NECORP</string>
	<string> </string>
	<string>PONTORI</string>
	<string>APPAR UNEM</string>
	<string>SANCTU</string>
	<string>LUMINAE</string>
	<string>REC SU</string>
	<string>REC DU</string>
	<string>LIB REC</string>
	<string>ALCORT</string>
	<string>SEQUITU</string>
	<string>SOMINAE</string>
	<string>SANCTU MANI</string>
	<string>VIEDA</string>
	<string>EXCUUN</string>
	<string>SURMANDUM</string>
	<string>ZXKUQYB</string>
	<string>ANJU SERMANI</string>
</array>
</plist>
