<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>compare to Tiles.plist to find out what is for what.</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>Agnes</string>
	<string>Deranged</string>
	<string>Whisper</string>
	<string>Bubbles</string>
	<string>Bubbles</string>
	<string>Bubbles</string>
	<string>Whisper</string>
	<string>Victoria</string>
	<string>Hysterical</string>
	<string>Bruce</string>
	<string>Bruce</string>
	<string>Ralph</string>
	<string>Bruce</string>
	<string>Bruce</string>
	<string>Whisper</string>
	<string>Deranged</string>
	<string>Deranged</string>
	<string>Ralph</string>
	<string>Ralph</string>
	<string>Zarvox</string>
	<string>Ralph</string>
	<string>Whisper</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>Fred</string>
</array>
</plist>
